.edit-modal-body {
  width: 460px;
  padding: 24px;
  border: #999999 solid 1px;
  border-radius: 16px;
}

.modal-post-form label * {
  display: block;
  margin: 8px 0px;
  width: 100%;
  border: #999999 solid 1px;
  border-radius: 8px;
  padding: 4px 8px;
}

.save-button {
  font-weight: 1000;
  color: white;
  background-color: #47B960;
  padding: 4px 16px;
  border: #47B960 solid 1px;
  border-radius: 4px;
}

#modal-form-content {
  resize: none;
}